body {
  margin: 0px;
}

#container {
  max-width: 1000px;
  margin: auto;
  height: 99.8vh;
  display: flex;
  flex-direction: column;
}

#header, #footer {
  text-align: center;
}

#footer {
  background-color: lightgray;
  padding: 1em;
}

#body-container {
  display: block;
  /*justify-content: center;*/
  flex-direction: column;
  flex: 1 100%;
}

#body-container > div {
  height: 100%;
}

.mappings-content {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.visualization {
  /*width: 100%;*/
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  display: flex;
  flex-direction: row;
}

.visualization #pattern-info {
  width: 43%;
  border-left: 1px solid #E5E5E5;
}

#mapping {
  border-top: 1px solid #E5E5E5;
}

li.li-clickable {
  cursor: pointer
}

li.li-clickable:hover {
  font-weight: bold;
}

#editorContainer {
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

#mappingEditor {
  float: left;
  height: 100%;
  width: 70%;
  border-right: 1px solid lightgrey;
}

#mappingList {
  float: left;
  height:100%;
  width:30%;
  padding-left: 0.5em;
  padding-top: 1em;
  padding-right:0.5em;
}

#pattern-info,
.visualization #mapping {
  visibility: hidden;
  padding: 10px;
}

#visual-container {
  width: 100%;
  height: 400px;
}

.navbar-inverse { 
  background-color: #0097A7; 
  border-color: #0097A7; 
  border-radius: 0px; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); 
}

.loginForm{ 
  text-align: center;
} 

.registerForm {
  margin-top: 5em;
  text-align: center;
  display: none;
}
 
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a{ 
  color: #FFFFFF; 
} 
 
button.navbar-toggle.collapsed { 
  padding: 0px; 
} 
 
ul.nav.navbar-nav { 
  float: right; 
} 
div.vis-network-tooltip.hide { 
  visibility: hidden; 
}

.errorSpace {
  height: 3em;
  text-align: center;
  line-height: 3em;
}

.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../public/img/stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}

.c-rating__item_disabled {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../public/img/stars.svg");
  background-position: 0 0;
}

.c-rating__item_disabled.is-active {
  background-position: -24px 0;
}

#mapping-edit-form-container {
  margin: 2em;
}
