body {
  margin: 0px;
}

#container {
  border: 1px solid black;
  max-width: 1000px;
  margin: auto;
  height: 99.8vh;
  display: flex;
  flex-direction: column;
}

#header, #footer {
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
  padding: 1em;
}

#body-container {
  display: flex;
  justify-content: center;
  flex: 1 100%;
}


#visual-container {
  border: 1px solid red;
  width: 100%;
  height: 400px;
}
