<div id="container" class="layout horizontal">
    <div id="header">{{render 'navbar'}}</div>
    <div id="body-container">{{outlet}}</div>
    <div id="footer">Created by Richard Dworschak, Lukas Walisch</div>
</div>
